.App {

  background-image: url("https://cdn.fstoppers.com/styles/full/s3/media/2017/09/11/autumn_food_photography_0.jpg");
  background-size: cover;
  height: 1000px;
}

.EachImage {
 flex: 3;
}

.icons {
  display: flex;
  justify-content:space-around;
}

.home{
 width: 55px;
 margin: 100%;
}

/* .images{
  display: flex;
  border: 3px black solid;
  justify-content:flex-start;
  margin: 15px;
  padding: 10px;
 } */
.inputIngredient{
  width: 400px;
  height: 30px;
  text-align: center;
  margin: 10px;
  padding: 5px;
  font-size: 20px;
}

.header{
  margin: 5px;
}

img {
  width: 250px;
  height: auto;
}

p{
  font-size: 25px;
  text-align: center;
}

.submitIngredient{
  font-size: 20px;
  height: 40px;
  width: 90px;
  background-color: #FFA630;
  margin: 15px solid black;
  border-radius: 5px;
  font-family: 'Raleway', serif;
}

.EachRecipe {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
nav{
  font-size: 50px;
  height: 400px;
  width: 600px;
  margin-top: 10%;
  text-align: center;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.inputTitle {
  /* font-family: 'Black Ops One', cursive; */
  color: white;
  font-size: 30px;
  /* animation-iteration-count: infinite; */
}

.inputArea {
  text-align: center;

}

/* .Inspiration a:hover{
  background-color: #fdffea;
  opacity: .5;
  color: black;
} */
