.App {

}

.wrapper {
  background-image: url('https://paleoglutenfree.com/wp-content/uploads/2016/06/dsc_9417.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position:right;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100vh;
}

.icons {
  display: flex;
  margin: 1%;
  justify-content: space-around;
  background-color: rgba(255,255,255, .7);
}

/* .rec:hover {
  border: 3px solid grey;
} */

.home{
 width: 55px;
 margin: 25%;
}

.MyRecipes {
  background-image: url('https://i.pinimg.com/originals/86/68/71/866871b98c6f038ecdf02bc448b07ffa.jpg');
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
}

.titleInput {
  width: 300px;
  height: 30px;
  margin-left: 50px;
}
.ingInput {
  width: 300px;
  height: 30px;
  margin-left: 50px;
}
.instInput {
  width: 300px;
  height: 400px;
  margin-left: 50px;
}

.MyRecipesTitle {
  font-size: 30px;
  margin-left: 50px;
}

.MyRecipesButton {
  font-size: 20px;
  height: 40px;
  width: 90px;
  background-color: rgba(236, 240, 241, 1);
  border-radius: 5px;
  box-shadow: 3px 3px #00A6A6;
  cursor: pointer;
}

p {
  color: black;
  font-family: 'PT Serif', serif;
}

.images{
  border: 10px solid;
  border-color: rgb(255,255,255, .7);
  border-radius: 5px;
  background-color: rgb(255,255,255, .7);
  margin: 30px;
  padding: 5px;
  background-position: center;
  background-size: contain;
 }

 .EachImage {
   border-radius: 5px;
   height: 300px;
   width: 300px;
 }

 .EachRecipe {
   background-color: rgba(0, 0, 0, 0.3);
   margin-top: 5%;
   display: flex;
   overflow-y: hidden;
   overflow-x: auto;
   text-align: center;
 }

.link {
  display: block;
  font-size: 20px;
  color: black;
  cursor: pointer;
  font-family: 'PT Serif', serif;
}
.whiteBg {
  display: inline-block;
  background-color: rgba(255,255,250, .4);
  padding: 10px;
  margin: 0;
}

.link:hover {
  color: red;
}

.recipeTitle {
  display: inline-block;
  color: black;
  font-size: 22px;
  text-shadow: 2px 1px grey;
  text-align: center;
}

.inputIngredient {
  width: 400px;
  height: 30px;
  text-align: center;
  padding: 5px;
  font-size: 20px;
  background-color: rgba(255,255,250, .8);
  border: 3px solid rgba(0,0,0, .5);
  cursor: pointer;
  margin: 10px;
}

.inputIngredient:hover {
border-color: rgba(255, 255, 255, 1);
}

.header {
  margin: 5px;
}

.submitIngredient {
  font-size: 20px;
  height: 40px;
  width: 90px;
  background-color: rgba(218, 223, 225, 1);
  border-radius: 5px;
  border: 2px solid rgba(189, 195, 199, 1);
  box-shadow: 3px 3px rgba(189, 195, 199, 1);
  cursor: pointer;
}

.submitIngredient:hover {
  border-color: rgba(255, 255, 255, 1);
}

nav {
  font-size: 50px;
  height: 400px;
  width: 600px;
  margin-top: 10%;
  text-align: center;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.inputTitle {
  color: black;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 3px 3px rgba(250, 250, 250, 1);
  font-size: 40px;
  padding: 10px;
  margin: 15px;
}

.inputArea {
  text-align: center;
  /* background-image: url("https://cdn.fstoppers.com/styles/full/s3/media/2017/09/11/autumn_food_photography_0.jpg"); */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

/* .Inspiration a:hover{
  background-color: #fdffea;
  opacity: .5;
  color: black;
} */
